<html lang="en">
<head>
	<title>Weather Portfolio App</title>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
	<link href="build/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="build/main.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<section id='weather-app'>
		<div class='container'>
		
			<div class="searchForm">
				<div class="board">
					<div class="form-group">
						<input id='city-search' class="form-control" placeholder='Enter A City' autofocus>
					</div>
					<div class="container">
						<div class="span12">
							<a href='#' id="current-btn" class="btn btn-chalk btn-medium col-xs-3">Current</a>
							<a href='#' id='forecast-btn' class='btn btn-chalk btn-medium col-xs-3'>Forecast</a>
							<a href="#" id='history-btn' class='btn btn-chalk btn-medium col-xs-3'>History</a>
						</div>
					</div>
				</div>	
			</div>
			<div id="weather-current"></div>
		</section>
	</div>

	<!--Template for Current Weather Board-->
	<script type="text/template" id="tmpl-current">
		<div class="board">
			<span class="current-hero cols-xs-3">
				<span class="sky-icon <%= skyIcon %> cols-xs-2"></span>
				<span class="tempRange">
					<span class='max-temp'><%= maxTemp %></span>
					<span class="divider">/</span>
					<span class='min-temp'><%= minTemp %></span>
				</span>
				<span class="temp cols-xs-2"><%= temperature %>&deg</span>
			</span>
			<div class='location'><%= city %>, <%= state %></div>
			<span class="current-details">
				<div>
					<div class='coordinates'><%= latitude %>, <%= longitude %></div>
				</div>
				<div class="wind-details">
					<span class="wind-icon <%= windSpeed %> wind-direction <%=windDirection %>"></span>
					<span class="wind-knots"><%= windKnots %> mph<%= windUnits %></span>
				</div>
			</span>
		</div>
	</script>

	<!--Template for Forecast Weather Board-->
	<script type="text/template" id="tmpl-forecast">
		<span class="sky-icon <%= skyIcon %>"></span>
	</script>

	<!--Template for Forecast Board Parts-->
	<script type="text/template" id="tmpl-forecast-day">
	</script>

	<!--Template for History Board-->
	<script type="text/template" id="tmpl-history">
	</script>

	<script>
		var require = {urlArgs: "bust="+(new Date()).getTime()}
	</script>
	<script src="node_modules/requirejs/require.js" data-main="build/main.min"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>